[package]
name = "pathfinding"
description = "Pathfinding, flow, and graph algorithms"
repository = "https://github.com/samueltardieu/pathfinding"
keywords = ["shortest-path", "astar", "dijkstra", "flow", "graph"]
license = "Apache-2.0/MIT"
homepage = "https://rfc1149.net/devel/pathfinding.html"
documentation = "https://docs.rs/pathfinding/"
version = "0.6.3"
authors = ["Samuel Tardieu <sam@rfc1149.net>"]
categories = ["algorithms"]
readme = "README.md"

[dependencies]
fixedbitset = "0.1"
itertools = "0.7"
num-traits = "0.1"
ordermap = "0.3.2"

[dev-dependencies]
lazy_static = "0.2"
rand = "0.3"

[badges]
appveyor = { repository = "samueltardieu/pathfinding" }
travis-ci = { repository = "samueltardieu/pathfinding" }
