[package]
name = "pathfinding"
description = "Pathfinding, flow, and graph algorithms"
repository = "https://github.com/samueltardieu/pathfinding"
keywords = ["shortest-path", "astar", "dijkstra", "flow", "graph"]
license = "Apache-2.0/MIT"
homepage = "https://rfc1149.net/devel/pathfinding.html"
documentation = "https://docs.rs/pathfinding/"
version = "4.3.1"
authors = ["Samuel Tardieu <sam@rfc1149.net>"]
categories = ["algorithms"]
readme = "README.md"
edition = "2021"
rust-version = "1.70.0"

[package.metadata.release]
sign-commit = true
sign-tag = true
pre-release-replacements = [
    {file = "README.md", search = "pathfinding = \".*\"", replace = "pathfinding = \"{{version}}\"", exactly = 1},
    {file = "CHANGELOG.md", search = "n\\.n\\.n", replace = "{{tag_name}}", exactly = 1}
]

[dependencies]
fixedbitset = "0.4.2"
num-traits = "0.2.16"
indexmap = "2.0.0"
rustc-hash = "1.1.0"
integer-sqrt = "0.1.5"
thiserror = "1.0.44"
deprecate-until = "0.1.0"

[dev-dependencies]
codspeed-criterion-compat = "2.1.0"
itertools = "0.11.0"
lazy_static = "1.4.0"
movingai = "1.3.0"
noisy_float = "0.2.0"
rand = "0.8.5"
rand_xorshift = "0.3.0"
# Not a real dependency, but needed since criterion 0.4.0
# does not compile anymore as of 2022-10-03.
regex = "1.9.5"
trybuild = "1.0.82"

[[bench]]
name = "algos"
harness = false

[[bench]]
name = "algos-fill"
harness = false

[[bench]]
name = "movingai"
harness = false

[[bench]]
name = "edmondskarp"
harness = false

[[bench]]
name = "kuhn_munkres"
harness = false

[[bench]]
name = "separate_components"
harness = false

[badges]
travis-ci = { repository = "samueltardieu/pathfinding" }
