[package]
name = "pathfinding"
description = "Pathfinding, flow, and graph algorithms"
repository = "https://github.com/samueltardieu/pathfinding"
keywords = ["shortest-path", "astar", "dijkstra", "flow", "graph"]
license = "Apache-2.0/MIT"
homepage = "https://rfc1149.net/devel/pathfinding.html"
documentation = "https://docs.rs/pathfinding/"
version = "1.0.0"
authors = ["Samuel Tardieu <sam@rfc1149.net>"]
categories = ["algorithms"]
readme = "README.md"

[dependencies]
fixedbitset = "0.1.9"
itertools = "0.7"
num-traits = "0.2"
indexmap = "1.0"

[dev-dependencies]
lazy_static = "1.0.0"
movingai = "0.7.0"
noisy_float = "0.1.5"
rand = "0.5"

[badges]
appveyor = { repository = "samueltardieu/pathfinding" }
travis-ci = { repository = "samueltardieu/pathfinding" }
