[package]
name = "pathfinding"
description = "Pathfinding, flow, and graph algorithms"
repository = "https://github.com/samueltardieu/pathfinding"
keywords = ["shortest-path", "astar", "dijkstra", "flow", "graph"]
license = "Apache-2.0/MIT"
homepage = "https://rfc1149.net/devel/pathfinding.html"
documentation = "https://docs.rs/pathfinding/"
version = "2.2.0"
authors = ["Samuel Tardieu <sam@rfc1149.net>"]
categories = ["algorithms"]
readme = "README.md"
edition = "2018"

[dependencies]
fixedbitset = "0.4.0"
itertools = "0.10.0"
num-traits = "0.2.6"
indexmap = "1.7.0"
rustc-hash = "1.1.0"
integer-sqrt = "0.1.5"

[dev-dependencies]
criterion = { version = "0.3.4", features = ["html_reports"] }
lazy_static = "1.2.0"
movingai = "1.0.0"
noisy_float = "0.2.0"
rand = "0.8.0"
rand_xorshift = "0.3.0"
# Not a real dependency, but needed since crossbeam-utils 0.6.5
# does not compile anymore as of 2020-04-29.
rayon = "1.3.0"

[[bench]]
name = "algos"
harness = false

[[bench]]
name = "algos-fill"
harness = false

[[bench]]
name = "movingai"
harness = false

[[bench]]
name = "edmondskarp"
harness = false

[badges]
travis-ci = { repository = "samueltardieu/pathfinding" }
